// colors
$body_bg: rgba(255, 255, 255, 1);
$header_bg: rgba(0, 0, 0, 0.3);

$black: #000000;

$gray_dark: #3c3c3b;
$gray: #878787;
$gray_light: #b1b1b1;
$gray_lightest: #f5f5f5;

$red: #e20917;
$red_dark: #bd1823;

$blue: #324d6b;

$green: #2aab6d;
$green_dark: #1c9b5e;

// fonts
$font_1: "Open Sans", "Arial", sans-serif;

// media
$mobile: 320px;
$mobile_full: 468px;
$tablet: 767px;
$desktop: 1068px;
