.about {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7rem;

	@media (max-width: 768px) {
		flex-direction: column-reverse;
	}
}

.about__img {
	position: relative;
	width: 45%;
	margin: 0.5rem;
	background-color: $gray;
	overflow: hidden;

	img {
		@include centerImg;
	}
	@media (max-width: 768px) {
		width: 100%;
		height: 40rem;
		margin: 0;
	}
}

.about__content {
	width: 45%;
	padding: 0 0.5rem;

	h2 {padding: 0;}
	@media (max-width: 768px) {
		width: 100%;
	}
}
