.courses {
	position: relative;
	margin-bottom: 7rem;
	// overflow: hidden;

	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 10rem;
		left: 50%;
		display: block;
		width: 500rem;
		height: 90%;
		margin-left: -250rem;
		background-color: $gray_lightest;

		@media (max-width: $desktop) {
			left: 0;
			width: 100%;
			margin-left: 0;
		}
	}
}

.courses__list {
	width: 100%;
	border-top: 1rem solid $red;
}

.courses__item {}

.courses__img-wrap {
	position: relative;
	width: 100%;
	max-height: 43rem;
	overflow: hidden;

	img {
		max-width: 100%;
	}
}

.courses__content {
	padding: 1.5rem 0;
}
