.team {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 35rem;
	margin-bottom: 7rem;
	overflow: hidden;

	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
}

.team__content {
	width: 50%;
	padding: 0 0.5rem;

	@media (max-width: $tablet) {
		width: 100%;
		padding: 0 0 3rem 0;
	}
}

.team__carousel-wrapper {
	position: relative;
	width: 50%;
	perspective: 100em;

	@media (max-width: $tablet) {
		width: 100%;
	}

	// &:before {
	// 	content: "";
	// 	z-index: 100;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	display: block;
	// 	width: 66%;
	// 	height: 1rem;
	// 	margin: 0 auto;
	// 	background-color: $red;
	// }
}

.team__carousel {
	position: relative;
  width: 15em;
  height: 15em;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;

  &[data-slide="1"] { transform: rotateY(0deg); }
  &[data-slide="2"] { transform: rotateY(-90deg); }
  &[data-slide="3"] { transform: rotateY(-180deg); }
  &[data-slide="4"] { transform: rotateY(-270deg); }
}

.carousel__slide {
	position: absolute;
	width: 15em;
	height: 15em;
  background: white;
  @extend .cf;

  img { width: 100%; }
}

.back, .carousel__slide:nth-child(3) {
  	transform: translateZ(-7.5em) rotateY(180deg);
}

.right, .carousel__slide:nth-child(2) {
  	transform: rotateY(-270deg) translateX(7.5em);
  	transform-origin: top right;
}

.left, .carousel__slide:nth-child(4) {
  	transform: rotateY(270deg) translateX(-7.5em);
  	transform-origin: center left;
}

.front, .carousel__slide:nth-child(1) {
  	transform: translateZ(7.5em);
}

.next, .prev {
	z-index: 1000;
  position: absolute;
  top: 50%;
  right: 0;
  width: 3em;
	height: 3em;
  margin-top: -2.5em;
  background: url("../img/icons/arrow-right.svg") center no-repeat;
  text-align: center;
  cursor: pointer;
}

.prev {
  left: 0;
	background-image: url("../img/icons/arrow-left.svg");
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
